
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    }
    
    body{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background: #1F2544;
display: flex;
    
 justify-content: center;
 justify-content: center;
    
    
    }



.konu{   background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
    margin: 10px 20px;

width: 700px;
height: 700px;
display: flex;

justify-content: space-between;
flex-direction: column;
flex: 1;
padding: 20px;
gap: 5px;
    background-color:antiquewhite;

}

.isim{ text-align: center;

    font-weight: bold;
    color: #5b7d69;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
font-weight: bold;

animation: animate 1s  ease-in-out 1 forwards;

}
.bilgi{
    margin: 10px 20px;
  margin-left: 10px;
    display:grid;
grid-auto-flow: column;


    

  


}
.resimli
{
margin-top: 20px;
margin-left: 10px;
gap: 10px;



}
.img{
    width: 60%;
    height: 180px;
   
object-fit: cover;

}
.liste{
      display:flex;
    
flex-direction: column;


 
}
.duzen{

    text-align: start;
    padding: 10px;
}
ul{

list-style-type: none;
}
li h3{

    color: #000;
}
li{
    color: #5b7d69;
}
.detay{
  
 
display: flex;
justify-content: center;
align-items:last baseline;

}

